:host {
    display: block;
    padding: 0 16px;
}

input {
    width: 250px;
}

ul {
    list-style-type: none;
    padding: 0 0 0 8px;
}

.containerLog {
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

bgGrade {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        z-index: -1;
        background: url("./assets/bgGradeMaster.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        -webkit-transition:  ease-out 300ms;
        -moz-transition: ease-out 300ms;
        -o-transition:  ease-out 300ms;
        transition:  ease-out 300ms;
}

  
.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}




.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.we {
    width: 100% !important;
}
