
<div class="bggame"></div>
<div class="whiteoverlay"></div>

<div  style="position:absolute; width:100%; height:100%; top:0px; left:0px" (mouseup)="canPush=false; isMouseDown = false; fahreLinie();" (mousemove)="isMouseDown && canDot==true ? addnewPoint($event):'' ">


    <div id="benutzer" class="anim player" (mousedown)="canPush ? isMouseDown = true:''" (mouseup)="canPush=false; isMouseDown = false; fahreLinie();" style="
left:{{myPosition.x}}px; top:{{myPosition.y}}px; width:19px; height:19px;"></div>


    <div *ngFor="#path of animationPath; #i=index">

        <div class="dots" style="top:{{path.y}}px; left:{{path.x}}px; ">

        </div>

    </div>


    <Block [Speed]="5000"></Block>


</div>