<br />
<br />
<br />
<button type="button" (click)="neueNote.hidden=false" class="btn btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neue Note
</button>

<div #neueNote hidden>

    <table class="table table-striped table-hover tableuser">

        <thead class="tblH">
            <tr>
                <th class="tabelhead" style="width:50px;">Arbeit Nr.</th>
                <th class="tabelhead">Schueler</th>
                <th class="tabelhead">Note</th>
                <th class="tabelhead"></th>
            </tr>
        </thead>

        <tr>

            <td>
                <input style="width:50px" class="form-control" [(ngModel)]="selectedNr">
            </td>

            <td>
                <select (change)="onChange($event.target.value)">
                    <option value="-1">Bitte waehlen</option>
                    <option *ngFor="#b of schuelerList" [value]="b.bn_id">{{b.bn_nachname}},  {{b.bn_vorname}}</option>
                </select>

            </td>

            <td>
                <input style="width:50px" class="form-control" [(ngModel)]="selectedNote">
            </td>

            <td>

                <button type="button" (click)="addNote()" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Speichern
                </button>

            </td>

        </tr>

    </table>
    <br />
    <br />
    <br />



</div>

<table class="table table-striped table-hover tableuser">

    <thead class="tblH">
        <tr>
            <th class="tabelhead" style="width:50px;">Arbeit Nr.</th>
            <th class="tabelhead">Nachname</th>
            <th class="tabelhead">Vorname</th>
            <th class="tabelhead">Note</th>
            <th class="tabelhead">Eintrag Datum</th>
        </tr>
    </thead>

    <tr *ngFor="#note of noten; #i=index" class="trFach"
        style="{{i==0 || note.bn_vorname != noten[i-1].bn_vorname ? 'background-color: rgb(196, 216, 249);font-weight: bold;':''}}">



        <td>
            <span class="label label-primary">{{note.no_klassenarbeit_nr}}</span>

            <!--
            <button *ngIf="i==0 || note.bn_vorname != noten[i-1].bn_vorname" type="button" style="    font-size: 10px !important;    padding: 0px 2px !important;  height: 18px !important;" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>
            </button>
                -->

        </td>
        <td>{{note.bn_nachname}}</td>
        <td>{{note.bn_vorname}}</td>
        <td>
            <input style="width:50px" class="form-control" (keyup)="mesave.hidden=false" [(ngModel)]="note.no_note">
            <div #mesave hidden>
                <button type="button" (click)="mesave.hidden=true; speichereAenderungen(note.no_id)" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Speichern
                </button>
            </div>
        </td>
        <td><span class="label label-info">{{note.no_datum_eintrag}}</span></td>

    </tr>
</table>
