:host {
    display: block;
    padding: 0 16px;
}

.blocks {
    position: absolute;

    background-color: #ff0000;
    box-shadow: 0px 0px 10px #B4B2B2;
    border-radius: 5px;
    border: 2px solid #8F8F8F;
    z-index:2;
}


.dots{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
}
